@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
}

@theme {
  /* Text Preset 1 - DM Sans, SemiBold Italic */
  --text-preset-1: 6rem;
  --text-preset-1--line-height: 1;
  --text-preset-1--letter-spacing: -0.125rem;
  --text-preset-1--font-weight: 600;
  /* Text Preset 2 - Bricolage Grotesque, Bold */
  --text-preset-2: 3.25rem;
  --text-preset-2--line-height: 1.2;
  --text-preset-2--letter-spacing: 0;
  --text-preset-2--font-weight: 700;
  /* Text Preset 3 - DM Sans, Light */
  --text-preset-3: 2rem;
  --text-preset-3--line-height: 1;
  --text-preset-3--letter-spacing: 0;
  --text-preset-3--font-weight: 300;
  /* Text Preset 4 - DM Sans, Bold */
  --text-preset-4: 1.75rem;
  --text-preset-4--line-height: 1.2;
  --text-preset-4--letter-spacing: 0;
  --text-preset-4--font-weight: 700;
  /* Text Preset 5 (Semi-Bold) - DM Sans, SemiBold */
  --text-preset-5: 1.25rem;
  --text-preset-5--line-height: 1.2;
  --text-preset-5--letter-spacing: 0;
  --text-preset-5--font-weight: 600;
  /* Text Preset 5 (Medium) - DM Sans, Medium */
  --text-preset-5-medium: 1.25rem;
  --text-preset-5-medium--line-height: 1.2;
  --text-preset-5-medium--letter-spacing: 0;
  --text-preset-5-medium--font-weight: 500;
  /* Text Preset 6 - DM Sans, Medium */
  --text-preset-6: 1.125rem;
  --text-preset-6--line-height: 1.2;
  --text-preset-6--letter-spacing: 0;
  --text-preset-6--font-weight: 500;
  /* Text Preset 7 - DM Sans, Medium */
  --text-preset-7: 1rem;
  --text-preset-7--line-height: 1.2;
  --text-preset-7--letter-spacing: 0;
  --text-preset-7--font-weight: 500;
  /* Text Preset 8 - DM Sans, Medium */
  --text-preset-8: 0.875rem;
  --text-preset-8--line-height: 1.2;
  --text-preset-8--letter-spacing: 0;
  --text-preset-8--font-weight: 500;

  /* Custom Color Palette */
  --color-storm-0: oklch(1 0 0);
  --color-storm-200: oklch(0.8694 0.0082 293.89);
  --color-storm-300: oklch(0.7478 0.0156 286.02);
  --color-storm-600: oklch(0.3696 0.0596 284.39);
  --color-storm-700: oklch(0.319 0.0477 285.05);
  --color-storm-800: oklch(0.2793 0.0492 284.43);
  --color-storm-900: oklch(0.1391 0.0873 268.83);
  --color-tangerine: oklch(0.7351 0.1836 53.37);
  --color-royal-500: oklch(0.524 0.1968 271.71);
  --color-royal-700: oklch(0.354 0.1919 275.84);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02012c;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

h1 {
  font-family: var(--font-bricolage-grotesque);
}
